<nav class="mb-6">
  <ol class="flex items-center flex-wrap space-x-2 text-sm">
    
    <ng-container *ngFor="let item of items; let last = last">
      <!-- Separator -->
      <li class="flex items-center text-slate-400 mx-1">
        <i class="pi pi-angle-right text-sm"></i>
      </li>
      
      <!-- Breadcrumb Item -->
      <li class="flex items-center">
        <a 
          *ngIf="item.routerLink && !last" 
          [routerLink]="item.routerLink" 
          class="font-Jost text-indigo-600 hover:text-teal-600 transition-colors"
        >
          {{ item.label }}
        </a>
        <span 
          *ngIf="!item.routerLink || last" 
          class="font-Jost"
          [class.text-teal-600]="last"
          [class.text-slate-400]="!last"
          [class.font-medium]="last"
        >
          {{ item.label }}
        </span>
      </li>
    </ng-container>
  </ol>
</nav>