<div
(click)="onLayoutClick()"
class="flex min-h-screen"
[ngClass]="{
  'layout-sidebar-mobile-active': menuMobileActive,
  'layout-megamenu-mobile-active': megaMenuMobileActive,
}"

>
    <!-- Sidebar -->
    <div class="sidebar transition-transform w-64 h-screen flex-shrink-0" [ngClass]="{ 'active': menuMobileActive }">
      <app-admin-sidebar></app-admin-sidebar>
    </div>
  
    <!-- Main Content -->
    

      <div class="flex flex-col flex-1 xl:ml-64">
        <app-admin-header></app-admin-header>
      <main class="p-6 bg-gray-100 flex-1 mt-[64px]">
        <app-breadcrumb></app-breadcrumb>
        <router-outlet></router-outlet>
      </main>

      </div>
    
  </div>
  